@using SellYourTime.Models
@model SellYourTime.Models.UploadPhotoModel
<div class="col-xs-4 col-xs-offset-4">
    <form class="form-horizontal" method="POST" action="@Url.Action("Index", new { updOfferId = ViewBag.OfferId})" enctype="multipart/form-data">
        <fieldset>
            <legend>Create</legend>
            <div class="form-group">
                <label for="Title" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    @if (ViewBag.Offer != null)
                    {
                        <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" value="@ViewBag.Offer.Title" required />
                    }
                    else
                    {
                        <input type="text" class="form-control" name="Title" id="Title" placeholder="Title" required />
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="tg" class="col-lg-2 control-label">Tag</label>
                <div class="col-lg-10">
                    @if (ViewBag.Offer != null)
                    {
                        <input type="text" class="form-control" name="tg" id="tg" placeholder="Tag" value="@foreach (Tag tag in ViewBag.Offer.Tags) { @tag.Value  }" required>
                    }
                    else
                    {
                        <input type="text" class="form-control" name="tg" id="tg" placeholder="Tag" required />
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    @if (ViewBag.Offer != null)
                    {
                        <textarea class="form-control" rows="3" id="Description" name="Description" placeholder="Description">@ViewBag.Offer.Description</textarea>
                    }
                    else
                    {
                        <textarea class="form-control" rows="3" id="Description" name="Description" placeholder="Description"></textarea>
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="Price" class="col-lg-2 control-label">Price</label>
                <div class="col-lg-10">
                    @if (ViewBag.Offer != null)
                    {
                        <input type="number" class="form-control" name="Price" id="Price" placeholder="Price" value="@ViewBag.Offer.Price" required>
                    }
                    else
                    {
                        <input type="number" class="form-control" name="Price" id="Price" placeholder="Price" required>
                    }
                </div>
            </div>
            <div class="form-group" id="InputFiles">
                <label for="FirstPostedFile" class="col-lg-2 control-label">Photo</label>
                <div id="firstFileInput" class="col-lg-10">
                    <input id="firstlefile" type="file" name="FirstPostedFile" style="display:none" onchange="document.getElementById('firstphotoCover').value = document.getElementById('firstlefile').value">
                    <div class="input-group input-append" id="firstloadGroup">
                        <input type="text" id="firstphotoCover" class="form-control" placeholder="Choose a photo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="$('input[id=firstlefile]').click();">
                                Browse
                            </button>
                        </span>
                    </div>
                </div>
                <div id="secondFileInput" class="col-lg-offset-2 col-lg-10" hidden>
                    <input id="secondlefile" type="file" name="SecondPostedFile" style="display:none" onchange="document.getElementById('secondphotoCover').value = document.getElementById('secondlefile').value">
                    <div class="input-group input-append" id="secondloadGroup">
                        <input type="text" id="secondphotoCover" class="form-control" placeholder="Choose a photo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="$('input[id=secondlefile]').click();">
                                Browse
                            </button>
                        </span>
                    </div>
                </div>
                <div id="thirdFileInput" class="col-lg-offset-2 col-lg-10" hidden>
                    <input id="thirdlefile" type="file" name="ThirdPostedFile" style="display:none" onchange="document.getElementById('thirdphotoCover').value = document.getElementById('thirdlefile').value">
                    <div class="input-group input-append" id="thirdloadGroup">
                        <input type="text" id="thirdphotoCover" class="form-control" placeholder="Choose a photo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="$('input[id=thirdlefile]').click();">
                                Browse
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" class="btn btn-success btn-block" style="padding-left: 15px; padding-right: 15px" onclick="addFile()" id="AddMore">Add file</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index","Home")'">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="~/Scripts/coffee-script.js"></script>
<script type="text/coffeescript">
    window.addFile = addFile = ->
        if i is 1
            document.getElementById("secondFileInput").hidden = false
            i++
        else if i is 2
            document.getElementById("thirdFileInput").hidden = false
            $("#AddMore").replaceWith "<button type=\"button\" class=\"btn btn-primary disabled col-xs-offset-3 col-xs-6\" id=\"AddMore\">maximum photo</button>"
            i++
        return
    window.i = 1
</script>