@model SellYourTime.Models.Offer
@{
    ViewBag.Title = "Success Page";
}

<div class="col-xs-offset-1 col-xs-10">
    <div class="jumbotron">
        <center><h1>@Resources.Resource.Success</h1></center>
        <p>@Resources.Resource.Success1</p>
        <p>@Resources.Resource.Success2: @Model.User.ContactData</p>
        <p>@Resources.Resource.Success3</p>
        <p><a href="@Url.Action("ProfilePage","Account")" class="btn btn-primary btn-lg">@Resources.Resource.GoProfile</a></p>
    </div>
</div>
