@model SellYourTime.Models.LocalPasswordModel

<h3 class="col-xs-offset-1" style="margin-bottom: 20px">Change password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <form class="form-horizontal col-xs-offset-1 col-xs-9">
        <fieldset>
            <div class="col-xs-12">
                <legend class="col-xs-offset-2 col-xs-6"><span>Change Password Form</span></legend>
            </div>
            <div class="col-xs-offset-2 col-xs-10">
                <p class="col-xs-12">
                    <div class="col-xs-2">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                    <div class="col-xs-4">
                        @Html.PasswordFor(m => m.OldPassword)
                    </div>
                </p>
                <p class="col-xs-12">
                    <div class="col-xs-2">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="col-xs-4">
                        @Html.PasswordFor(m => m.NewPassword)
                    </div>
                </p>
                <p class="col-xs-12">
                    <div class="col-xs-2">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="col-xs-4">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
                </p>
                <p class="col-xs-12">
                    <input style="margin-top: 15px" type="submit" value="Change password" />
                </p>
            </div>
        </fieldset>
    </form>
}
