@model SellYourTime.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title col-xs-offset-1">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success col-xs-offset-1"><span style="color: lime">@ViewBag.StatusMessage</span></p>

<p class="col-xs-offset-1">You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}

