@using SellYourTime.Models
@model ICollection<SellYourTime.Models.Offer>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-right: 0">
    <div class="jumbotron jumb col-xs-6 col-lg-8 col-md-7">
        <h1 style="margin-top: 10px">Sell your Time</h1>
        <p>
            <h4>
                Вы можете купить встречу с понравившимся вам человеком, и он сходит с вами в кино, прогуляется по парку, поужинает с вами.
                Здесь каждый продаёт своё время и указывает, как оно может быть использовано.
                Заработав деньги, можно купить чужое время, или снять их.
            </h4>
        </p>

    </div>
    <div id="Cloud" class=" col-xs-1 col-md-2 col-lg-3" style="background-color: #0d747c; width: 300px; height: 300px;">
        <ul>
            @if (ViewBag.Tags != null)
            {
                foreach (Tag tag in ViewBag.Tags)
                {
                    <li>@Html.ActionLink(tag.Value, "Search", "Search", new { searchQuery = tag.Value, searchMethod = "tag" }, null)</li>
                }
            }

        </ul>
    </div>
</div>
<div class="col-xs-6" style="margin-left: 50px">
    <h2>Latest @Model.Count offers</h2>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <td>Image</td>
                <td>Title</td>
                <td>Price</td>
                <td>Info</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Offer offer in Model)
            {
                <tr onclick="location.href='@Url.Action("ShowPage","OfferPage", new { id = offer.Id})'">
                    <td>
                    @if (offer.FirstPhotoPath != null)
                    {
                                <img src=@offer.FirstPhotoPath style="width: 36px; height: 36px" />
                    }
                    </td>
                    <td>@offer.Title</td>
                    <td>@offer.Price</td>
                    <td>Posted by @offer.User.UserName on @offer.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
</div>

