@using SellYourTime.Models
@model ICollection<SellYourTime.Models.Offer>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-right: 0">
    <div class="jumbotron jumb col-xs-6 col-lg-8 col-md-7">
        <h1 style="margin-top: 10px">Sell your Time</h1>
        <p>
            <h4>
                @Resources.Resource.Main1
                @Resources.Resource.Main2
                @Resources.Resource.Main3
            </h4>
        </p>

    </div>
    <div id="Cloud" class=" col-xs-1 col-md-2 col-lg-3" style="background-color: #0d747c; width: 300px; height: 300px;">
        <ul>
            @if (ViewBag.Tags != null)
            {
                foreach (Tag tag in ViewBag.Tags)
                {
                    <li>@Html.ActionLink(tag.Value, "Search", "Search", new { searchQuery = tag.Value, searchMethod = "tag" }, null)</li>
                }
            }

        </ul>
    </div>
</div>
<div class="col-xs-12 row">
    <div class="col-xs-4" style="margin-left: 30px">
        <h2>@Resources.Resource.Latest @Model.Count @Resources.Resource.offers</h2>
        <table class="table table-striped table-hover col-xs-12">
            <thead>
                <tr>
                    <td class="col-xs-6">@Resources.Resource.Title</td>
                    <td class="col-xs-2">@Resources.Resource.Price</td>
                    <td class="col-xs-4">@Resources.Resource.Info</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Offer offer in Model)
                {
                    <tr onclick="location.href='@Url.Action("ShowPage","OfferPage", new { id = offer.Id})'">
                        <td>@offer.Title</td>
                        <td>@offer.Price</td>
                        <td>@Resources.Resource.PostedBy @offer.User.UserName on @offer.DateAdded</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-4" style="margin-left: 30px">
        <h2>@Resources.Resource.Top @ViewBag.TopOffers.Count @Resources.Resource.offers</h2>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <td class="col-xs-6">@Resources.Resource.Title</td>
                    <td class="col-xs-2">@Resources.Resource.Price</td>
                    <td class="col-xs-4">@Resources.Resource.Info</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Offer offer in ViewBag.TopOffers)
                {
                    <tr onclick="location.href='@Url.Action("ShowPage","OfferPage", new { id = offer.Id})'">
                        <td>@offer.Title</td>
                        <td>@offer.Price</td>
                        <td>@Resources.Resource.PostedBy @offer.User.UserName on @offer.DateAdded</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-3" style="margin-left: 30px">
        <h2>@Resources.Resource.Top @ViewBag.TopUsers.Count @Resources.Resource.users</h2>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <td class="col-xs-12">@Resources.Resource.Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (UserProfile user in ViewBag.TopUsers)
                {
                    <tr onclick="location.href='@Url.Action("Search", "Search", new { searchQuery = user.UserName, searchMethod = "user" })'">
                        <td>@user.UserName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

